[phases.setup]
nixPkgs = ["nodejs_20", "npm-9_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "node_modules/.bin/prisma db push --skip-generate; node_modules/.bin/tsx prisma/seed.ts; npm start"
